/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {
    width: 50em;
}
section {
    width: 100%
    
}
h1 {

}

img {
    transition: width 0.5s;
    width: 90vw;
    max-width: 100%;
}
