body {
    display: block;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    font-family: "Lato", sans-serif;
    color: #2d3c49;
}

img {
    transition: width 0.5s;
    width: 100%;
    max-width: 100%;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #7d97ad;
    margin: 1em 0;
    padding: 0; 
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
}

.row {
    width: 100%;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    min-height: 10px;
    min-width: 200px;
}

/* Header */

.svg_container {
    float: left;
    min-width: 100px;
    height: 100%;
    max-height: 100px;
    width: 120px; 
}

.header__logo {
    float: left;
    border: 0;
    height: 100%;
    max-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header__row {
    min-height: 100px;
    margin-bottom: 20px;
}

.header__left {
    height: inherit;
    text-align: left;
}

.header__right {
    height: inherit;
    text-align: right;
    min-width: 150px;
}

.header__title {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
}

.header__subtitle {
    font-size: 2em;
    font-weight: 100;
    margin-top: 0;
}

@media only screen 
    and (max-width: 320px) {

    .header__right {
        text-align: center;
    }

    .header__subtitle {
        font-size: 1em;
    }
}

/* Link section */

.featured__text {
    color: #7d97ad;
    font-weight: 300;
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Navigation part */

.row__flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -10px;
}

.col__flex {
	flex: 1 0 200px;
    box-sizing: border-box;
	margin-left: 5px;
	margin-right: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.work__title {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 28px;
    margin: 5px; 
}

/*  Link to GitHub */

.github__link {
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Columns specifications */

.col-1, 
.col-2, 
.col-3, 
.col-4, 
.col-5, 
.col-6, 
.col-7, 
.col-8, 
.col-9, 
.col-10, 
.col-11, 
.col-12 {

    float: left;
    position: relative;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}